### TypeJSScript ###
# dependencies
node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

/out/

# misc
*.pem
*.key

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# svelte
/build
.svelte-kit

generated